@import-normalize; /* bring in normalize.css styles */

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import '~rc-slider/assets/index.css';


#edition-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-flow: row nowrap;
  font-family: 'Karla', sans-serif;

  /**
  * NAV
  */
  > nav{
    padding: 1rem;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    overflow: auto;
    background: white;
    z-index: 2;
    font-size: .8rem;
    /* background: rgba(240,240,240,1); */
  }
  > nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: calc(100% - 2rem);
  }

  > nav li:not(:last-of-type){
    margin-right: .5rem;
  }

  > nav a{
    color: inherit;
    text-decoration: none;
  }

  > nav .navitem-container a {
    display: block;
  }

  > nav .navitem-container a.active {
    font-weight: 800;
  }

  > main {
    flex: 1;
    text-decoration: none;
    padding: 1rem;
    padding-top: 5rem;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
    max-width: 100%;
  }

  .slide-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    flex: 1;
  }

  .slide-container > section {
    flex: 1;
    max-width: calc(45% - 5rem);
    padding: 0 1rem 0 1rem;
    box-sizing: border-box;
  }

  .slide-container.without-visualization {
    justify-content: center;
  }
  .slide-container.without-visualization aside {
    display: none;
  }
  .slide-container > aside {
    position: fixed;
    width: calc(65% - 5rem);
    left: calc(35% + 5rem);
    top: 5rem;
    max-height: calc(100% - 5rem);
    height: calc(100% - 5rem);
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    box-sizing: border-box;
  }

  .slide-container aside .vis {
    width: 100%;
    /* height: 10rem; */
    flex: 1;
    border: 5px solid grey;
    max-height: 100%;
  }

  .slide-container aside .CodeContainer {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 .5rem;
    z-index: 1000;
  }
  .slide-container aside .CodeContainer pre {
    flex: 1;
    background: lightgrey;
    padding: 0 1rem;
    transition: .5s ease all;
    overflow: hidden;
    max-height: 0;
  }

  .slide-container aside .CodeContainer pre.is-active {
    max-height: 100vh;
    padding: 1rem;
  }

  .slide-container aside .CodeContainer .copy-container {
    display: flex;
    align-items: stretch;
    padding: .5rem 0;
  }
  .slide-container aside .CodeContainer .copy-container button {
    flex: 1;
  }
  .slide-container aside .CodeContainer .copy-container button:not(:first-of-type) {
    margin-left: .5rem;
  }

  .VisualizationBlock {
    background: rgba(240,240,240,1);
    max-width: 100%;
    padding: 1rem;
    overflow: hidden;
    cursor: pointer;
  }
  .VisualizationBlock.is-focused {
    background: rgba(50,50,50,1);
    color: white;
  }

  .VisualizationBlock .block-title {
    margin: 0;
    font-size: 1rem;
  }

  .VisualizationBlock pre {
    background: rgba(200,200,200,1);
    padding: .5rem;
  }

  .VisualizationBlock.is-focused pre {
    color: black;
  }
  .VisualizationBlock .buttons-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
  }
  .VisualizationBlock .buttons-container button {
    flex: 1;
  }

  .edit-help {
    transition: all .5s ease;
    overflow: hidden;
    max-height: 0;
    padding-left: 0 2rem 0 2rem;
  }

  .edit-help.is-active {
    max-height: 100vh;
    background: lightgrey;
    padding: 1rem 2rem 1rem 2rem;
  }

  button {
    border: none;
    background: rgba(220,220,220,1);
    padding: .5rem;
    font-family: 'Karla', sans-serif;
    outline: none;
    cursor: pointer;
  }

  button.is-active {
    background: rgba(50,50,50,1);
    color: white;
  }

  input, select {
    padding: .5rem;
    font-family: 'Karla', sans-serif;
    border: 1px solid rgba(220,220,220,1);
    max-width: 100%;
    width: 100%;
    background: white;
    box-sizing: border-box;
  }


  .VisControls {
    z-index: 10;
    display: flex;
    flex-flow: column nowrap;
    background: white;
    padding: .5rem;
    padding-top: 0;
    overflow: hidden;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    max-width: 15vw;
    min-width: 15vw;
    box-sizing: border-box;
    max-height: calc(100% - 5rem);
    position: absolute;
    right: .7rem;
    top: 1.3rem;
    transition: all .5s ease;
  }

  .VisContainer {
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .VisControls.is-minified {
    right: -16vw;
  }
  .VisControls .vis-controls-item {
    margin-bottom: .3rem;
  }
  .VisControls .vis-controls-item.camera {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
  }
  .VisControls .vis-controls-item.camera button:not(:first-of-type) {
    margin-left: .1rem;
  }
  .VisControls .vis-controls-item.camera button:last-of-type {
    flex: 1;
  }

  .minify-button {
    position: absolute;
    right: .7rem;
    top: 1.3rem;
    transition: right .5s ease;
    /* width: 2rem; */
  }
  .minify-button.is-active {
    /* transform: rotate(180deg); */
    right: calc(15vw + .5rem);
  }

  .FiltersEditor button {
    margin-bottom: .5rem;
    width: 100%;
  }


  .FiltersEditor h6
  {
    padding: .5rem;
    margin: 0;
    background: white;
  }

  .FiltersEditor select {
    padding: .5rem;
  }

  .FiltersEditor .existing-filters {
    list-style: none;
    padding: 0;
  }

  .FiltersEditor .existing-filters li {
    margin: .5rem;
    background: rgba(240,240,240,1);
    padding: .5rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
  .FiltersEditor .existing-filters li div:first-of-type {
    padding-right: .5rem;
    flex: 1;
    top: -.2rem;
    position: relative;
    font-size: .8rem;
  }

  .FiltersEditor .existing-filters li button {
    border-radius: 50%;
    max-width: 2rem;
    max-height: 2rem;
    font-size: .5em;
  }

  .ColorLegend {
    /* overflow: auto; */
    max-height: 15rem;
    background: white;
  }

  .ColorLegend h6{
    margin: 0;
    padding-left: .5rem;
  }

  .ColorLegend ul {
    padding: .5rem;
    list-style: none;
  }

  .ColorLegend li {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    position: relative;
    overflow: visible;
  }
  .ColorLegend li .legend-color{
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    margin-right: .5rem;
    cursor: pointer;
  }
  .ColorLegend li .legend-modality{
    flex: 1;
  }

  .ColorLegend .color-picker-container {
    background: rgba(0,0,0,0.2);
    cursor: pointer;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .ColorLegend .color-picker-container > div {
    background: white;
    width: 220px;
    box-sizing: border-box;
  }
  .ColorLegend .color-picker-container > div h5 {
    margin: 0;
    padding: 1rem;
  }
  /**
   * Loader
   */
  .loader-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .loader{
    background: lightgrey;
    height: 10px;
    width: 50%;
    position: relative;
  }
  .loader .loading-bar {
    background: turquoise;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: width .2s ease;
  }



  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
  
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  /**
  * Scatterplot scaling
  */
  .scatterplot .plot-object text {
    font-size: .8rem;
    transition: .1s ease-in all;
  }
  .scatterplot .plot-object circle {
    transition: .1s ease all;
  }

  .scatterplot .plot-objects-container:hover .plot-object.is-matching {
    opacity: .2;
    transition: all .2s ease;
  }
  .scatterplot .plot-objects-container:hover .plot-object.is-matching:hover {
    opacity: 1;
  }

  .scatterplot .plot-objects-container  .plot-object.is-matching:hover text
  {
    font-size: 15px!important;
    background: white;
  }

  .scatterplot.zoom-mode .plot-objects-container:not(:hover) .plot-object.is-matching:not(.is-zoomed) text {
    opacity: .4;
  }
  .scatterplot.zoom-mode .plot-objects-container:not(:hover) .plot-object.is-matching:not(.is-zoomed) circle {
    opacity: .6;
  }

  .scatterplot.zoom-mode .plot-objects-container .plot-object.is-zoomed text {
    font-size: 15px!important;
    background: white;
  }

  .scatterplot .plot-object .axis-line {
    opacity: 0;
    transition: all .2s ease;
  }
  .scatterplot .plot-object.is-matching:hover .axis-line {
    opacity: 1;
  }

  .scatterplot .axis-variable-name {
    font-weight: 800;
    font-style: italic;
  }

  .FooterNav {
    margin-bottom: 2rem;
  }

  .FooterNav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
  }

  .FooterNav.start-page ul {
    justify-content: flex-end;
  }

  .FooterNav ul li a {
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    text-decoration: none;
    color: black;
    background: lightgrey;
    padding: 1rem;
    transition: all .5s ease;
  }
  .FooterNav ul li a:hover {
    background: black;
    color: lightgrey;
  }

  .FooterNav ul .previous-page .marker {
    padding-right: 1rem;
  }
  .FooterNav ul .next-page .marker {
    padding-left: 1rem;
  }

  .FooterNav ul .next-page:first-of-type:last-of-type {
    justify-self: flex-end;
  }
  .slider-wrapper {
    background: white;
  }
  .slider-container {
    min-height: 2rem;
    padding-bottom: .5rem;
  }


  .LinearGraph .bottom-axis .axis-element text {
    font-size: .9rem;
  }

  .lang-toggle {
    display: flex;
    flex-flow: column nowrap;
    border-left: 1px solid black;
    padding-left: .5rem;
  }

  .lang-toggle button:not(.is-active) {
    cursor: pointer;
  }

  .lang-toggle button.is-active {
    font-weight: 800;
  }


  .caption-editor-container {
    position: absolute;
    top: 1rem;
    left: 5rem;
  }
  .GraphContainer .caption-editor-container {
    left: 1rem;
  }
  .caption-editor-container input,
  .caption-editor-container textarea {
    font-size: inherit;
    border: 0;
    outline: none;
    margin: 0;
    padding: 0;
    resize: none;
    width: 100%;
  }

  .caption-editor-container .caption-title-container {
    margin: 0;
    font-size: 1rem;
  }
  .caption-editor-container .caption-legend-container {
    margin: 0;
    font-size: .7rem;
  }

  .methodo-container {
    background: lightgrey;
    padding: 1rem;
  }
}

