

#presentation-wrapper {
  max-width: 100vw;
  overflow-x: hidden;
  
  .VisualizationBlock {
    background: grey;
    min-height: 2rem;
    &.is-active {
      background: red;
    }
  }

  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}