@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$red: #E6142D;
$grey: #E5E5E5;
$grey_dark: #333;

$font_sans: 'Fira Sans', sans-serif;
$font_serif: 'Noto Serif', serif;

$padding_small: .5rem;
$padding_medium: 1rem;

$screen_gutter_small: 10vw;
$screen_gutter_large: 15vw;
$vis_width: 65%;

$line_border: 2px;

$fontsize_general_author: 1rem;
$fontsize_main_title: 4rem;
$fontsize_creators: .65rem;
$fontsize_toc: .8rem;
$fontsize_title: 2rem;
$fontsize_secondarytitle: 1.2rem;
$fontsize_legend: .9rem;
$fontsize_methodo_title: 1.5rem;
$fontsize_running_title: .8rem;
$fontsize_footer: .8rem;

#presentation-wrapper {
  max-width: 100vw;
  overflow-x: hidden;

  /**
   * Generic
   */
   a {
    color: inherit;
    font-weight: 800;
    text-decoration: none;
  }
  svg {
    text {
      font-family: $font_sans;
      font-weight: 300;
    }
  }

  /**
   * LAYOUT
   */
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .section-container {
    // &:not(.is-active) {
    //   opacity: .5;
    // }
    padding-left: $screen_gutter_large;
    padding-right: $screen_gutter_large;
    margin-top: $screen_gutter_large / 2;
    h1, h2 {
      font-family: $font_sans;
      font-weight: 300;
      background: $red;
      display: inline-block;
      padding: $padding_small;
      color: white;
      font-size: $fontsize_title;

    }

    a {
      /* These are technically the same, but use both */
      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      /* This is the dangerous one in WebKit, as it breaks things wherever */
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;

      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
    p {
      line-height: 1.5;
    }
    &.has-visualization {
      max-width: 100% - $vis_width;
      padding-left: 4rem;
      h1, h2{
        // margin-left: $padding_medium * 4; // $screen_gutter_large - $screen_gutter_small /4;
        margin-right: 2rem;
        margin-bottom: $padding_medium;
      }
    }
    font-family: $font_serif;
    .methodo-container {
      font-family: $font_sans;
      border: $line_border solid $red;
      padding: $padding_medium;
      margin-top: $padding_medium;
      h1, h2 {
        background: inherit;
        color: inherit;
        padding-left: 0;
        font-weight: 800;
        margin: 0;
        font-size: $fontsize_methodo_title;
      }
    }
    &:last-of-type {
      margin-bottom: $screen_gutter_large;
    }
  }

  .visualization-container {
    position: fixed;
    right: 0;
    height: 100%;
    box-sizing: content-box;
    padding: $padding_medium;
    width: calc(#{$vis_width} - 5rem);
    top: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transition: .5s ease all;
    &.is-visible {
      z-index: 0;
      opacity: 1;
      pointer-events: all;
      
    }
  }
  /**
   * Header
   */
   .Header {
     min-height: 100vh;
     display: flex;
     flex-flow: column nowrap;
     justify-content: center;

     .running-title {
       background: white;
       cursor: pointer;
       color: $grey_dark;
       position: fixed;
       left: .5rem;
       top: $padding_small;
       transition: .5s ease all;
       z-index: 2;
       opacity: 1;
         pointer-events: all;
       h1{
        font-size: $fontsize_running_title;
        margin: 0;
        font-weight: 300;
       }
     }
     &.is-visible {
       .running-title {
         opacity: 0;
         pointer-events: none;
       }
     }

    .LanguageToggler {
      font-family: $font_sans;
      list-style: none;
      margin: 0;
      display: flex;
      flex-flow: row nowrap;
      font-weight: 300;
      align-items: flex-end;
      position: absolute;
      right: $screen_gutter_large;
      top: $padding_medium;
      z-index: 2;
      a{
        color: inherit;
        text-decoration: none;
        padding-left: $padding_small/2;
        font-weight: 300;
        &.active {
          font-weight: 500;
        }
      }
    }

    .header-main {
      color: $red;
      padding-top: $screen_gutter_small / 2;
      padding-left: $screen_gutter_large;
      .general-author {
        margin: 0;
        font-weight: 500;
        font-size: $fontsize_general_author;
        margin-bottom: $padding_small / 2;
        margin-left: $padding_medium;
      }
      .main-title {
        display: inline-block;
        background: $red;
        color: white;
        padding: $padding_small;
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
        font-size: $fontsize_main_title;
        font-weight: 300;
      }
      .creators {
        list-style: none;
        padding: 0;
        font-weight: 300;
        font-size: $fontsize_creators;
        // max-width: 80vw - $screen_gutter_large * 1.6;
        li, div {
          display: inline;
        }
        li:not(:first-of-type) .role {
          padding-left: $padding_small /2;
        }
        ul {
          display: inline;
          list-style: none;
          padding: 0;
          li {
            font-weight: 700;
            padding-left: $padding_small /4;
          }
        }
      }
    }
    .header-secondary {
      padding-left: $screen_gutter_large;
      padding-right: $screen_gutter_large;
      display: flex;
      flex-flow: row nowrap;
      justify-content: stretch;
      .Nav {
        flex: 1;
        max-width: calc(100% - 500px);
        padding-top: $screen_gutter_small /3;
        padding-right: $padding_medium;
      }
      .GraphWrapperContainer {
        padding-top: 0;// $screen_gutter_small /3;
        flex: 1;
        width: 500px;
        height: 500px; // calc(100vh - #{$padding_small} / 2);
        transition: .5s ease all;
        position: relative;
      }
    }

    .starter-button {
      position: absolute;
      bottom: 1rem;
      left: calc(50vw - 2rem);
      background: inherit;
      border: none;
      outline: none;
      color: $red;
      font-weight: 800;
      font-size: 4rem;
      padding: 0;
      margin: 0;
      cursor: pointer;
      font-family: $font_sans;
    }

   }

  /**
   * Nav
   */
  .Nav {
    ul {
      list-style: none;
      padding: 0;
    }

    li {
      cursor: pointer;
      margin-bottom: .5rem;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      .item-number {
        background: $grey;
        color: $grey_dark;
        display: inline-block;
        min-width: 1.5rem;
        min-height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
      .item-label {
        color: $grey_dark;
        opacity: .8;
      }
      &.is-active {
        .item-number {
          background: $red;
          color: white;
        }
      }
      .item-label {
        padding-left: $padding_small;
      }
      &:hover {
        .item-number {
          background: $red;
          color: white;
        }
        .item-label {
          opacity: 1;
        }
      }
    }
    
    &:not(.is-deployed) {
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-flow: column nowrap;
      pointer-events: none;
      ul {

        li {
          position: relative;
          margin-left: .5rem;
          width: 100vw;
          transition: .5s ease all;
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          pointer-events: none;
          .item-label {
            transition: .5s ease all;
            position: absolute;
            left: 2rem;
            top: 0;
            background: $grey;
            padding: $padding_small;
            display:flex;
            align-items: center;
            justify-content: center;
            font-family: $font_sans;
            font-weight: 300;
            box-sizing: border-box;
            font-size: $fontsize_toc;
            height: 1.5rem;

            opacity: 0;
            color: white;
            // height: 2rem;
            
          }
          .item-number {
            pointer-events: all;
          }
          &:hover {
            // max-width: 100vw;
            .item-number {
              background: $grey_dark;
              color: white;
              font-weight: 500;
            }
            .item-label {
              background: $grey_dark;

              font-weight: 500;
              opacity: 1;
            }
            &.is-active{
              .item-number {
                color: white;
                background: $red;
              }
              .item-label {
                background: $red;
                color: white;
              }
            }
          }
        }
      }
      
    }
  }

  /**
   * Loader
   */
   .loader-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .loader{
    background: lightgrey;
    height: 10px;
    width: 50%;
    position: relative;
  }
  .loader .loading-bar {
    background: $red;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: width .2s ease;
  }
  .VisualizationController {
    width: 100%;
    height: 100%;
    position: absolute;
    // padding-left: 3rem;
    // padding-right: 5rem;
    box-sizing: content-box;
    .visualization-item {
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;
      z-index: -1;
      pointer-events: none;
      &.is-visible {
        opacity: 1;
        z-index: 1;
        pointer-events: all;
      }
    }
    &.networkGraph {
      padding-left: 3rem;
    }

    &.linearGraph {
      .VisualizationController {
        position: relative;
        margin-top: 20vh;
      }
    }
    
  }

  /**
   * ICECREAM GRAPH
   */
   /**
  * Scatterplot scaling
  */
  .scatterplot .plot-object text {
    font-size: .8rem;
    transition: .1s ease-in all;
  }
  .scatterplot .plot-object circle {
    transition: .1s ease all;
  }

  .scatterplot .plot-objects-container:hover .plot-object.is-matching {
    opacity: .2;
    transition: all .2s ease;
  }
  .scatterplot .plot-objects-container:hover .plot-object.is-matching:hover {
    opacity: 1;
  }

  .scatterplot .plot-objects-container  .plot-object.is-matching:hover text
  {
    font-size: 15px!important;
    background: white;
  }

  .scatterplot.zoom-mode .plot-objects-container:not(:hover) .plot-object.is-matching:not(.is-zoomed) text {
    opacity: .4;
  }
  .scatterplot.zoom-mode .plot-objects-container:not(:hover) .plot-object.is-matching:not(.is-zoomed) circle {
    opacity: .6;
  }

  .scatterplot.zoom-mode .plot-objects-container .plot-object.is-zoomed text {
    font-size: 15px!important;
    background: white;
  }

  .scatterplot .plot-object .axis-line {
    opacity: 0;
    transition: all .2s ease;
  }
  .scatterplot .plot-object.is-matching:hover .axis-line {
    opacity: 1;
  }

  .scatterplot .axis-variable-name {
    font-weight: 800;
    font-style: italic;
  }

  /**
   * Visualization block
   */ 
   .VisualizationBlock {
    background: $grey;
    min-height: .5rem;
    min-width: 3rem;
    box-sizing: border-box;
    display: inline-block;
    font-family: $font_sans;
    padding: $padding_medium;
    // transition: .5s ease all;
    cursor: pointer;
    width: 100%;
    .block-title {
      margin: 0;
      transition: .5s ease all;
    }
    .block-legend {
      transition: .5s ease all;
      max-height: 0;
      overflow: hidden;
      margin: 0;
      font-size: $fontsize_legend;
    }
    .ColorLegend {
      list-style: none;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: .2rem;
      // grid-auto-rows: minmax(1rem, auto);
      max-width: 100%;
      li {
        display: flex;
        align-items: center;
        .color {
          min-width: 1rem;
          min-height: 1rem;
          max-width: 1rem;
          max-height: 1rem;
          display: inline-block;
        }
        .label {
          padding-left: .2rem;
          font-size: $fontsize_legend;
        }
      }
      transition: .5s ease all;
      max-height: 0;
      overflow: hidden;
    }
    // &.is-active {

     
      .block-title {
        font-size: $fontsize_secondarytitle;
      }
      .block-legend {
        max-height: 100vh;
        margin-top: $padding_small;
      }

      .ColorLegend {
        max-height: 100vh;
        margin-top: $padding_medium;
      }
    // }
    &.is-active {
      background: white;
      border: $line_border solid $red;
    }

    
  } 

  /**
   * FOOTER
   */ 
  .Footer {
    font-size: $fontsize_footer;
    padding: $padding_medium * 2;
    padding-left: $screen_gutter_large;
    padding-right: $screen_gutter_large;
    border-top: $line_border solid $red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    .column {
      max-width: calc(50vw - #{$screen_gutter_large});
      p {
        margin: 0;
      }
    }
    .logos-container {
      margin-top: $padding_medium;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      a {
        flex: 1;
      }
      img {
        max-width: 100%;
      }
    }
  }
}